body {
  background-color: #343a40;
  font-family: "Raleway", sans-serif;
}
.Weather {
  padding-top: 70px;
  max-width: 600px;
  margin: auto;
}
.card {
  max-width: 100%;
  margin: auto;
  height: 480px;
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
}
h1 {
  font-family: "Fahkwang", sans-serif;
  position: relative;
  top: 70px;
  left: 90px;
  color: #e9ecef;
  margin-bottom: 0;
}
.searchBar {
  position: relative;
  left: 48%;
  top: 5vh;
  width: 40%;
}

button {
  position: absolute;
  left: 205px;
}

.col {
  position: relative;
  top: 90px;
  width: 300px;
  padding-left: 0%;
}
.col1 {
  position: relative;
  left: 180px;
  bottom: 10px;
}
li {
  font-size: 13px;
  list-style-type: none;
  color: #dee2e6;
  text-transform: capitalize;
  padding-right: 0px;
}

strong {
  font-size: 60px;
  margin-bottom: 10px;
  width: 100px;
  margin-top: 190px;
  margin-right: 40px;
  color: #f8f9fa;
}

.units {
  font-size: 15px;
  position: relative;
  left: 4px;
  bottom: 20px;
  color: #dee2e6;
}

a {
  font-size: 15px;
  position: relative;
  right: 6px;
  bottom: 1px;
  color: #dee2e6;
}
a:hover {
  color: #b7e4c7;
}
.TemperatureIcon {
  position: relative;
  bottom: 85px;
  left: 180px;
}

.container2 {
  padding-left: 80px;
  max-height: 210px;
  max-width: 200px;
}
footer {
  text-align: center;
  font-size: 15px;
}
.icon {
  color: #b7e4c7;
}
