body {
  background-color: #85cdcb;
}
.Weather {
  padding-top: 70px;
  max-width: 600px;
  margin: auto;
}
.card {
  max-width: 600px;
  margin: auto;
  height: 400px;
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 1rem;
}
h1 {
  position: relative;
  top: 70px;
  left: 90px;
  color: #e27d60;
  margin-bottom: 0;
}
.searchBar {
  color: #6b9080;
  position: relative;
  left: 300px;
  top: 50px;
  width: 500px;
}
.button {
  background-color: #e27d60;
}
.button:hover {
  color: #e27d60;
  font: white;
}
.col {
  position: relative;
  top: 90px;
  width: 300px;
  padding-left: 0%;
}
.col1 {
  position: relative;
  left: 220px;
  bottom: 10px;
}
li {
  font-size: 13px;
  list-style-type: none;
  color: #e8a87c;
  text-transform: capitalize;
}
.date {
  font-size: 14px;
  margin-top: 100px;

  color: #e8a87c;
}
strong {
  font-size: 50px;
  margin-bottom: 10px;
  width: 100px;
  margin-top: 190px;
  margin-right: 30px;

  color: #e8a87c;
}
.units {
  font-size: 20px;
  position: relative;
  left: 4px;
  bottom: 20px;
  color: #e8a87c;
}

a {
  font-size: 20px;
  position: relative;
  right: 6px;
  bottom: 1px;
  color: #e8a87c;
}
a:hover {
  color: #c28a64;
}
.TemperatureIcon {
  position: relative;
  bottom: 70px;
  left: 150px;
}

.container2 {
  padding-left: 80px;
  max-height: 210px;
  max-width: 200px;
}
footer {
  font-size: 1px;
  margin-left: 500px;
}
