.WeatherForecast {
  text-align: center;
  position: relative;
  top: -40vh;
  color: #212529;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}

.col-sm {
  top: -30vh;
}

@media (min-width: 360px) and (max-width: 780px) {
  .col-sm  {
    margin-top: 15%;
  }

}
@media (min-width: 360px) and (max-width:415px) {
.WeatherForecast{
padding-top:95%;
margin-top:10%;
}
}

@media (min-width: 740px) and (max-width:896px) {
  .WeatherForecast{
    padding-top:10%;
    margin-top:10%;
    }

}