.WeatherForecast {
  text-align: center;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}

.WeatherForecast {
  position: relative;
  bottom: 13vh;
  color: #212529;
}
.col {
  padding: 0%;
  width: 50%;
}

@media (max-width: 900px) {
  .results {
    height: 60vh;
    overflow-x: hidden;
  }
}
